/*BODY______________________________________________________________________*/
body {
  background-color: #fafafa;
  position: relative;
  width: 100vw;
}

/*HEADER____________________________________________________________________*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  height: 32px;
  margin-top: 54px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link-top {
  display: flex;
  justify-content: center;
  color: #33323d;
}

.link-top-contato {
  color: #5fb4a2;
}

/*MAIN____________________________________________________________________*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1110px;
  height: 354px;
  margin-top: 94px;
  margin-bottom: 47px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.container-contato-txt {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 354px;
  margin-top: 48px;
}

.redes-sociais-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 48px;
  width: 104px;
  height: 24px;
}

h1 {
  width: 350px;
  height: 42px;
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: #33323d;
  margin: 0;
}

p {
  width: 635px;
  height: 180px;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: hsl(245, 10%, 22%);
  margin: 0;
}

.container-form {
  display: flex;
  width: 1110px;
  height: 426px;
  justify-content: space-between;
  margin-bottom: 109px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 635px;
  height: 426px;
}

label {
  font-family: "Public Sans", sans-serif;
  font-size: 13px;
  color: rgb(51, 50, 61);
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  margin-bottom: 8px;
}

#txt-nome,
#txt-email {
  border-style: none;
  background-color: #eaeaeb;
  height: 48px;
  margin-bottom: 24px;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  color: #33323d;
  font-weight: 400;
  line-height: 8px;
  padding-left: 12px;
}

#txt-mensagem {
  background-color: #eaeaeb;
  height: 96px;
  margin-bottom: 24px;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  color: #33323d;
  font-weight: 400;
  line-height: 8px;
  padding-left: 12px;
  border-style: none;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  background-color: hsl(205, 41%, 21%);
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: 400;
  line-height: 14.1px;
  letter-spacing: 2px;
  cursor: pointer;
}

.container-form input:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #5fb4a2;
}

/*FOOTER____________________________________________________________________*/
footer,
.link-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #33323d;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  height: 64px;
  color: white;
}

.logo-bottom {
  margin-left: 50px;
}

.redes-sociais {
  width: 104px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
