/*BODY______________________________________________________________________*/
body {
  background-color: #fafafa;
  position: relative;
  width: 100vw;
}

/*HEADER____________________________________________________________________*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  height: 32px;
  margin-top: 54px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.link-top {
  display: flex;
  justify-content: center;
  color: #33323d;
}

.link-top-portifolio {
  color: #5fb4a2;
}

/*MAIN____________________________________________________________________*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
  width: 1015px;
  height: 500px;
}

.container-manager {
  margin-bottom: 80px;
}

.img {
  width: 540px;
  height: 500px;
}

.box {
  width: 350px;
  height: 500px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 292px;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #33323d;
  padding-top: 103px;
  padding-bottom: 103px;
}

h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  color: #33323d;
  letter-spacing: 2px;
  border: 1px solid #33323d;
}

.btn-manage:hover {
  background-color: #ff3e34;
  color: white;
}

.btn-bookmark:hover {
  background-color: #4357af;
  color: white;
}

.btn-insure:hover {
  background-color: #9c95ab;
  color: white;
}

.btn-fylo:hover {
  background-color: #00b6d3;
  color: white;
}

/*INTERESSADO PRE-FOOTER____________________________________________________*/

.container-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 84px;
  margin-top: 120px;
  margin-bottom: 120px;
  color: #33323d;
}

.txt-interessado {
  width: 367px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

.link-contato {
  display: flex;
  justify-content: center;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  align-items: center;
  text-decoration: none;
  color: #33323d;
  width: 168px;
  height: 48px;
  border: 1px solid #33323d;
}

.link-contato:hover {
  background-color: #33323d;
  color: white;
}

/*FOOTER____________________________________________________________________*/
footer,
.link-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #33323d;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  height: 64px;
  color: white;
}

.logo-bottom {
  margin-left: 50px;
}

.redes-sociais {
  width: 104px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
